.Footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    color: white;
    font-size: calc(10px + 2vmin);
    font-weight: bolder;
    min-height: 250px;
    background-color: #282c34;
}