.Support {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex: 1;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sidebar {
    flex: 1;
    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: darkgray;
    position: sticky;
    top: 20px;
}

.content {
    flex: 4;
    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
}